{% extends 'shamsla/layout/index.html' %}
{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'rawstatic/css/default/media.db65f61a.css' %}">
<link rel="stylesheet" href="{% static 'rawstatic/css/home.4f0cd698.css' %}">
<link rel="stylesheet" href="{% static 'rawstatic/css/default/search_sidebar.b6d34238.css' %}">

{% endblock styles %}

{% block title %} ShAms LA {% endblock title %}

{% block content %}

<div class="d-flex justify-content-between align-items-start">

  {% include 'shamsla/home/posts.html' %}
  {% include 'shamsla/layout/pagination_boil.html' %}
  {% include 'shamsla/home/sidebar.html' %}
</div>

{% endblock content %}


{% block add_script %}
{% if user.is_authenticated %}
<script src="{% static 'rawstatic/js/follow.1cafb80a.js' %}"></script>
<script>
  $("button.following").on("click", targetFollowing);
</script>
{% endif %}
{% endblock add_script %}