<div class="sidebar mt-4 p-3 p-lg-4  border rounded d-none d-md-block">
    <form action="#" class="form-group">
        <h4>Search</h4>
        <input placeholder="Type here ..." type="text" class="form-control">
        <button type="submit" class="btn btn-sm btn-primary mt-2 mt-lg-3">Submit</button>
    </form>
    <hr>
    <h6 class="mb-2">Trending</h6>
    <a href="/" class="btn btn-light btn-sm m-1 side-btn">Java</a>
    <a href="/" class="btn btn-light btn-sm m-1 side-btn">Python</a>
    <a href="/" class="btn btn-light btn-sm m-1 side-btn">OOP</a>
    <a href="/" class="btn btn-light btn-sm m-1 side-btn">System Design</a>
    <a href="/" class="btn btn-light btn-sm m-1 side-btn">UI/UX</a>
    <a href="/" class="btn btn-light btn-sm m-1 side-btn">API</a>
    <a href="/" class="btn btn-light btn-sm m-1 side-btn">Linux</a>
    <a href="/" class="btn btn-light btn-sm m-1 side-btn">Macbook</a>
</div>
</div>