<div class="sidebar mt-4 p-3 p-lg-4  border rounded d-none d-md-block">
    <form action="#" class="form-group">

        {% if user == posts.0.author %}
        <h4 class="mb-3">Search Your Posts</h4>
        {% else %}
        <h4>Search {{ posts.0.author.username}}'s Posts </h4>
        {% endif %}
        <input placeholder="Type here ..." type="text" class="form-control">
        <button type="submit" class="btn btn-sm btn-primary mt-2 mt-lg-3">Search</button>
    </form>
    <hr>
</div>
</div>