{% extends 'shamsla/layout/index.html' %}

{% block title %}Delete | {{ post.title }}{% endblock %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <br>
        <h3><span class="text-danger">Delete</span>: {{ post.title }}</h3>
        <p class="text-muted">Author: <span class="text-primary">{{post.author}}</span></p>
        <p class="text-muted">Published: {{ post.date_posted|date:"F j, Y"}}</p>

        <br>
        <h6 class="text-info"><span class="badge badge-danger font-weight-normal">Warning</span> : You will not be able to revert this!</h6>
        <br>
        <button type="submit" class="btn btn-danger mr-2">Yes, Delete!</button>
        <a href="{{post.get_absolute_url}}" class="btn btn-outline-secondary">Cancel</a>
        <br>
    </form>

{% endblock %}
