* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f8fa;
}

button {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
}

button:focus {
    outline: none;
}

main.container {
    margin-top: 60px;
}

.nav-wrap {
    background: #24292e;
}


header nav {
    background-color: #24292e !important;
}

header nav .navbar-nav li a i {
    color: #ffffff;

}

header nav .navbar-nav li .dropdown .dropdown-menu a {
    font-size: 0.9rem;
    font-weight: 300;
    color: rgb(49, 51, 51) !important;
}

header nav .navbar-nav li .nav-link,
header nav .navbar-nav li .dropdown a.main-drop {
    font-size: 0.9rem;
    color: #dddddd !important;
    font-weight: 300;
}

header nav .navbar-nav li .btn {
    color: #24292e !important;
    font-weight: 600;
    padding: 7px 9px !important;
    font-size: 0.8rem;
    margin-left: .5rem;
}

header nav .navbar-nav li .nav-link:hover,
header nav .navbar-nav li .dropdown a.main-drop:hover {
    color: #ffffff !important;
}

header nav .navbar-nav li .profile-img {
    width: 25px;
}

header nav img {
    width: 30px;
}

header nav input.form-control {
    border: none;
    color: #ffffff !important;
    background-color: rgb(55, 60, 66);
    font-size: 0.8rem;
}

header nav input.form-control::placeholder {
    color: #a0a0a0;

}

header nav input.form-control:focus {
    background-color: #2e343a;

}

header nav .navbar-toggler svg path {
    fill: #dddddd;
}

header nav .navbar-toggler:hover svg path {
    fill: #ffffff;
}

header nav .navbar-toggler {
    border: none;
}

p {
    line-height: 1.6;
}

h2 {
    line-height: 1.3;
}

hr {
    margin: 8px 0px;
    margin-bottom: 12px;
}

.sm-dot {
    font-size: 0.28rem;
    margin: 0px 3px;
}

.flex {
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    header nav img {
        width: 27px;
    }
}