.login-wrapper {
    background: #ffffff;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 50px 0px;
    border-radius: 7px;
    width: 75%;
}

.login-wrapper form h3 {
    font-weight: bold;
}


.login-wrapper form h5 {
    font-weight: 600;
    font-size: 1.4rem;
}


.login-wrapper form {
    width: 75%;
}


@media (max-width: 767px) {
    .login-wrapper {
        width: 100%;
        margin-top: 30px;
        padding: 35px 28px;
    }

    .login-wrapper form {
        width: 100%;
    }

    .login-wrapper label {
        font-size: 0.85rem;
    }

    .login-wrapper .btn,
    .post-title,
    .post-cont {
        font-size: 0.8rem;
    }

    .login-wrapper form h5 {
        font-size: 1rem;
    }

    .login-wrapper form h3 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .login-wrapper form p {
        font-size: 0.9rem;
    }
}