.my-media {
    background: #ffffff;
}

.my-media p {
    color: rgb(65, 65, 65);
    font-size: 15px;
}

.my-uname {
    padding: 0;
    margin: 0;
}

.my-post-date {
    color: grey;
    font-size: 13px;
}

.my-uname a{
    padding-right: 10px;
}

hr {
    margin: 8px 0px;
    margin-bottom: 12px;
}
