.my-media {
    background: #ffffff;
}

.post-title {
    font-weight: bold;
    font-size: 1.9rem;
}

.post-cont {
    line-height: 2;
    font-size: 1.05rem;
    color: rgb(65, 65, 65);
}

.img-wrapper {
    position: relative;
}

.action-btns {
    padding: 13px;
    border: #6c757d 1px solid;
    border-radius: 40px;
    transition: 0.5s ease all;
}

.action-btns.stick-action {
    position: fixed;
    transform: translateY(100%);
}


.action-btns button {
    font-size: 1.5rem;
}


@media (max-width: 991px) {
    .post-title {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .post-cont {
        line-height: 1.9;
        font-size: 1rem;
        color: rgb(65, 65, 65);
    }
}

@media (max-width: 767px) {
    .my-uname>* {
        font-size: 14px;
    }

    .edit-con {
        font-size: 0.9rem;
    }

    .post-title {
        font-size: 1.1rem;
    }

    .post-cont {
        line-height: 1.7;
        font-size: 0.9rem;
        color: rgb(65, 65, 65);
    }

    .action-btns {
        position: fixed;
        bottom: 10px;
        left: 20px;
        padding: 6px 20px;
        background: #ffffff;
    }

    .action-btns button {
        font-size: 1.1rem;
    }
}