.my-media {
    background: #ffffff;
}

.post-title {
    font-size: 1.4rem;
}

.post-cont {
    margin-top: 10px;
    color: rgb(65, 65, 65);
    font-size: 14px;
}

.my-uname a {
    padding-right: 10px;
}

.my-uname>* {
    font-size: 14px;
}

.my-uname,
.my-uname>* {
    padding: 0;
    margin: 0;
}

@media (max-width: 991px) {

    .my-uname>* {
        font-size: 12px;
    }

    .post-title {
        font-size: 0.95rem;
    }

    .post-cont {
        font-size: 13px;
    }

    .edit-con {
        font-size: 0.9rem;
    }
}