{% extends 'shamsla/layout/index.html' %}

{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'rawstatic/css/default/form_outline.css' %}">

{% endblock styles%}

{% block title %} Register {% endblock title%}

{% block content %}
{% if not user.is_authenticated %}

<div class="d-flex justify-content-center">
    <div class="login-wrapper d-flex justify-content-center border">
        <form class="post-form" method="POST">
            {% csrf_token %}


            <h3>Register</h3>
            <br>
            {% if errors %}
            {% include 'shamsla/layout/errors_boil.html' with errors=errors %}
            {% endif %}
            <br>

            {% include "shamsla/layout/user_boil.html" with label="Username" for_id="id_username" input=form.username %}
            {% include "shamsla/layout/user_boil.html" with label="Email" for_id="id_email" input=form.email %}
            {% include "shamsla/layout/user_boil.html" with label="Password" for_id="id_password1" input=form.password1 %}
            {% include "shamsla/layout/user_boil.html" with label="Confirm Password" for_id="id_password2" input=form.password2 %}

            <button type="submit" class="btn btn-primary">Sign Up</button>
            <a href="{% url 'login' %}" class="btn btn-link">Login Instead ?</a>

        </form>
    </div>
</div>

{% else %}
Please Logout First .
{% endif %}

{% endblock content%}