{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{% static 'rawstatic/css/default/bt.78f2f00a.css' %}">
  <link rel="stylesheet" href="{% static 'rawstatic/css/default/commons.ede87e1e.css' %}">
  {% comment %} <script src="{% static 'temp/fa.js' %}"></script> {% endcomment %}

  <link rel="icon" href="{% static 'shamsla/images/fav.PNG' %}" type="image/gif">

  {% block styles %}{% endblock %}

  <title>{% block title %}{% endblock %}</title>
</head>

<body>

  {% include 'shamsla/layout/modal.html'%}
  {% include 'shamsla/layout/nav.html'%}


  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>

<script src="{% static 'temp/jq.js' %}"></script>
<script src="{% static 'temp/pp.js' %}"></script>
<script src="{% static 'temp/bt.js' %}"></script>
<script>
  const g$spin_code = `{% include 'shamsla/layout/sm_loader.html' %}`;
</script>
<script src="{% static 'rawstatic/js/default/main.3231f3c1.js' %}"></script>
{% block add_script %}{% endblock add_script%}

</html>