{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{% static 'shamsla/css/bt.78f2f00a.css' %}">
  <link rel="stylesheet" href="{% static 'shamsla/css/commons.257e72ee.css' %}">
  <script src="{% static 'shamsla/js/fa.9c9b18d3.js' %}"></script>

  <link rel="icon" href="{% static 'shamsla/images/fav.PNG' %}" type="image/gif">

  {% block styles %}{% endblock %}

  <title>{% block title %}{% endblock %}</title>
</head>

<body>

  {% include 'shamsla/layout/modal.html'%}
  {% include 'shamsla/layout/nav.html'%}


  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>

<script src="{% static 'shamsla/js/jq.65dcc2f4.js' %}"></script>
<script src="{% static 'shamsla/js/pp.b7253430.js' %}"></script>
<script src="{% static 'shamsla/js/bt.7a30eb7f.js' %}"></script>

<script src="{% static 'shamsla/js/main.242c5441.js' %}"></script>
{% block add_script %}{% endblock add_script%}

</html>